<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container">
        <h1>Mash Prototype</h1>
        <div id="app">
            <input class="form-control" @change="onFileChange" type="file" id="file" ref="file"/><br>
            <button class="btn btn-primary" @click="uploadFile">Upload Raw File</button><br>
            <input class="form-control" v-model="text"/>
            <button @click="insertText" class="btn btn-primary">Add text to video</button><br>
            <select v-model="pos">
                <option v-for="p in positions" :val="p">[[p]]</option>
            </select>
            <a v-if="rendered_video_path" :href="rendered_video_path">Rendered Video</a>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" integrity="sha256-XmdRbTre/3RulhYk/cOBUMpYlaAp2Rpo/s556u0OIKk=" crossorigin="anonymous"></script>
    <script>
    var app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            image: "",
            text: "",
            raw_video_id: 5,
            rendered_video_path: "",
            pos: "center",
            positions: [
                "center",
                "top-left",
                "top-right",
                "top-center",
                "left-bottom",
                "right-bottom",
                "center-bottom"
            ]
        },
        methods: {
            onFileChange(e) {
                this.file = this.$refs.file.files[0];
            },
            uploadFile(){
                var self = this
                let formData = new FormData();
                formData.append('video', this.file);
                axios.post( '/video/',
                    formData,
                    {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                ).then(function(res){
                    self.raw_video_id = res.data.id;
                    console.log('SUCCESS!!');
                })
                .catch(function(err){
                    console.log('FAILURE!!');
                });
            },
            insertText(){
                var self = this
                axios.post( '/video/insert_text/', {
                    "raw_video_id": self.raw_video_id,
                    "text": self.text,
                    "position": self.pos
                }).then(function(res){
                    self.rendered_video_path = res.data.video;
                    console.log('SUCCESS!!');
                })
                .catch(function(err){
                    console.log('FAILURE!!');
                });
            }
        }
    });
    </script>
  </body>
</html>
